/* Definición de la paleta de colores en :root */
:root {
    --primary-color: #7C93C3;
    --secondary-color: white;
    --button-background: white;
    --button-hover-background: #fcfcfc;
    --box-shadow-color: #55679C;
    --text-color: rgb(249, 250, 252);
    --text-color-button: rgb(17, 24, 33);
    --icon-color: white;
    --modal-background: rgb(17, 24, 33);
    --footer-background: rgb(17, 24, 33);
    --modal-backdrop-color: rgba(0, 0, 0, 0.50);
}

/* Estilos para el preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    /* Fondo blanco semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Asegura que el preloader esté por encima del contenido */
    opacity: 1;
    /* Inicialmente visible */
    transition: opacity 2s ease-in-out;
    /* Transición de opacidad durante 2 segundos */
}

/* Contenido del preloader */
.preloader-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Imagen del preloader */
.preloader-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Asegura que la imagen cubra toda la pantalla */
    z-index: -1;
    /* Coloca la imagen detrás del texto */
}

/* Estilo del mensaje */
.preloader-content p {
    position: relative;
    /* Asegura que el texto esté encima de la imagen */
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    color: #333;
    /* Color del texto */
    margin-top: 500px;
    /* Espacio adicional desde la parte superior */
    animation: fadeInOut 2s infinite;
    /* Animación de desvanecimiento */
}

/* Animación del mensaje */
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Ocultar elementos con la clase .hidden */
.hidden {
    display: none;
}

/* Estilos básicos del body */
body {
    margin: 0;
    padding: 0;
    border: 0;
    color: var(--text-color);
    animation: changeBG 10s infinite alternate linear;
}

/* Estilos del contenedor principal */
main {
    width: 45vw;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

/* Estilos del encabezado */
.encabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para la imagen del logo con efecto 3D */
.img_logo {
    width: 100px;
    border-radius: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3),
        0 6px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Efecto 3D al pasar el ratón sobre el logo */
.img_logo:hover {
    transform: translateY(-10px) scale(1.05);
    /* Levantar y escalar el logo */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4),
        0 12px 30px rgba(0, 0, 0, 0.3);
    /* Sombra más pronunciada */
}

/* Eliminar subrayado de los enlaces */
a {
    text-decoration: none;
}

/* Estilos de la sección de botones */
.BOTONES {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

/* Estilos para los botones */
.botones {
    margin: 8px;
    background-color: var(--button-background);
    border: none;
    text-align: center;
    padding: 23px;
    font-size: 16px;
    border-radius: 30px;
    box-shadow: 0px 5px 5px var(--box-shadow-color);
    font-family: "Roboto Slab", serif;
    color: var(--text-color-button);
    transition: 0.3s;
    cursor: pointer;
}

/* Efecto hover para los botones */
.botones:hover {
    padding: 24px;
    margin: 7px;
    background-color: var(--button-hover-background);
    transform: scale(1.1);
    transition: 0.3s;
}

/* Estilos para la sección de iconos */
.iconos {
    font-size: 30px;
    text-align: center;
    margin: 25px;
}

.iconos i:hover {
    transform: scale(1.2);
    transition: 0.3s;
    color: var(--text-color);
}

/* Estilos para los iconos */
i {
    width: 50px;
    color: var(--icon-color);
}

/* Estilos para animar la entrada suave del modal */
@keyframes abrirModal {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Estilos para animar la salida suave del modal */
@keyframes cerrarModal {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.8);
    }
}

@keyframes changeBG {
    0% {
        background-color: black;
    }

    50% {
        background-color: #444444;
    }

    100% {
        background-color: #6d6c6a;
    }
}

/* Aplicar la animación de entrada al abrir el modal */
dialog.show {
    animation: abrirModal 0.3s forwards;
}

/* Aplicar la animación de salida al cerrar el modal */
dialog.hide {
    animation: cerrarModal 0.3s forwards;
}

/* Estilos para el fondo del modal */
dialog::backdrop {
    background-color: var(--modal-backdrop-color);
}

/* Estilos del modal */
dialog {
    border: none;
    border-radius: 30px;
    text-align: center;
}

/* Estilos para la cabecera del modal */
.header {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

/* Estilo del encabezado principal */
.encabezado-titulo {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    font-size: 20px;
}

/* Estilo de la imagen de la bandera */
.bandera {
    margin-left: 8px;
    width: 40px;
    height: auto;
}

/* Estilos para el texto */
.txt {
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
}

/* Estilos para los iconos sólidos dentro del modal */
.fa-solid {
    color: black;
    font-size: 17px;
}

/* Estilos para los botones del modal */
.modal_btn {
    border: none;
    background-color: var(--button-background);
    cursor: pointer;
}

/* Estilos para la sección inferior del modal */
.footer {
    width: 420px;
    background-color: var(--footer-background);
    padding: 15px;
    margin: auto;
    border-radius: 10px;
}

/* Estilos para el iframe del mapa */
iframe {
    margin: 15px;
}

/* Estilos responsivos para pantallas pequeñas */
@media (max-width: 550px) {
    main {
        width: 98vw;
    }

    iframe {
        width: 85vw;
        margin: 2vw auto;
    }

    .footer {
        width: 78vw;
    }
}